body{
    background: #ddd;
}

section{
    background: #fff;
    width: 600px;
    padding: 30px;
}

input[type=text]{
    box-sizing: border-box;
    width: 100%;
}

article{
    display: flex;
}

article div{
    width: 300px;
}